* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #505050;
}

a:hover {
	text-decoration: underline;
	color: white;
}

.clear {
	clear: both;
}

body {
	background-image: url('../images/background.png');
	background-repeat: repeat;
	
	padding-left: 10px;
	padding-right: 10px;
	
	width: 1024px;
	
	margin-left: auto;
	margin-right: auto;
	font-family: Tahoma, Arial;
	font-size: 12px;
}

#mainheader {
	display:block;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	width: 235px;
	height: 149px;
	margin: 5px auto 5px auto;
}

#actions {
	float: left;
	
}

.action {
	
}

#offre {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	
	width: 150px;
	height: 29px;
	background-image: url('../images/link_poster_offre.png');
	background-repeat: no-repeat;
}

#demande {
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	
	width: 184px;
	height: 29px;
	background-image: url('../images/link_poster_demande.png');
	background-repeat: no-repeat;
}

#connexion {
	float: right;
}

#login {
	background-image: url('../images/link_connecter.png');
	background-repeat: no-repeat;
	width: 132px;
	height: 26px;
}

#register {
	background-image: url('../images/creer_compte.png');
	background-repeat: no-repeat;
	width: 120px;
	height: 19px;
}

#navigation {
	display:block;
}

#search {
	display:block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url('../images/search_bar.png');
	background-repeat: repeat-x;
	
	border-radius: 0.7em 0.7em;
	-moz-border-radius: 0.7em 0.7em;
	-webkit-border-radius: 0.7em 0.7em;
	/*padding-top: 10px;*/
	
	padding-top: 10px;
	height: 50px;
}



#direct_search {
	border-radius: 0.7em 0.7em;
	-moz-border-radius: 0.7em 0.7em;
	-webkit-border-radius: 0.7em 0.7em;
	
	margin-left: 200px;
	margin-right: auto;
	
	background-image: url('../images/loupe.png');
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-position: 10px;;
	background-color: #ededed;
	
	width: 50%;
	height: 40px;/* 18 22 */
	float: left;
	
	/*margin-top: 5px;
	margin-bottom: 5px;*/
}

#direct_search #loupe {
	
	/*background-image: url('../images/loupe.png');
	background-repeat: no-repeat;
	background-position: left;
	background-attachment: inherit;
	width: 17px;
	height: 20px;*/
}

#search_input {
	height:25px;
	border: 0px;
	font-size: 16px;
	margin-top: 10px;
	
	background-color: #ededed;
	
	
}

#search_submit {
	height: 37px;
	width: 114px;
	background-image: url('../images/bouton_chercher.png');
	background-repeat:no-repeat;
	margin-left: 10px;
	margin-top: 2px;
	float: left;
	border: 0;
}

#search_submit:hover {
	cursor: pointer;
}

#advanced_search {
	float: right;
	margin-right: 10px;
}

#infos {
	text-align: center;
	font-weight: bold;
}

#content {
	float:left;
	width: 700px;
	
	padding-left: 10px;
	padding-right: 10px;
	
	margin-bottom: 20px;
}

#sidebar {
	float:right;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#sidebar .sidebar_item:last-child {
	margin-top: 20px;
}

.sidebar_item_title {
	color: #8ba61e;
	font-size: xx-large;
	margin-bottom: 10px;
}

#footer {
	display: block;
	background-color: #3a3a3a;
	
	background-image: url('../images/bottom_footer.png');
	background-repeat: no-repeat;
	
	background-attachment: inherit;
	
	background-position: right bottom;
	
}

#bottom_footer {
	/*position: relative;
	right: 0;
	bottom: 0;

	
	width: 216px;
	height: 121px;*/
}

.footercolumn {
	float: left;
	width: 300px;
	margin-left: 1px;
	margin-right: 1px;
	color: white;
}

.footer_item {
	margin-top: 7px;
	margin-bottom: 7px;
}

#footerinfos {
	margin-left: auto;
	margin-right: auto;
}

#footerleft {
	margin-left: 100px;
}

#highnimalright {
	text-align: center;
	margin-top: 10px;
	color: white;
}

.animal {
	margin-bottom: 10px;
	margin-top: 10px;
}

.animal_photo {
	float: left;
	background-image: url('../images/empty.png');
	background-repeat: no-repeat;
	width: 28%;
	height: 149px;
	
}

.animal_infos {
	float:right;
	
	width: 68%;
	
	background-color: white;
	border-radius: 0.7em 0.7em;
	-moz-border-radius: 0.7em 0.7em;
	-webkit-border-radius: 0.7em 0.7em;
	
	padding: 10px;
}

#maincontent {
	background-color: white;
	border-radius: 0.7em 0.7em;
	-moz-border-radius: 0.7em 0.7em;
	-webkit-border-radius: 0.7em 0.7em;
	
	padding: 10px;
	margin-top: 10px;
}

.profil {
	background-color: white;
	border-radius: 0.7em 0.7em;
	-moz-border-radius: 0.7em 0.7em;
	-webkit-border-radius: 0.7em 0.7em;
	
	padding: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}